body {
    background-color: rgba(93, 91, 89, 0.055);
}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 5px;
    grid-template-rows: 90px 6fr 1fr;
    grid-template-areas:
        'header header header'
        'main main main'
        'main main main'
        'main main main'
        'footer footer footer';
}

.header {
    grid-area: header;
    min-height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(187, 185, 185, 0.732); */
    background: rgba(0, 0, 0, 0.863);
    position: sticky;
    z-index: 999;
    padding: 0 5px;
}

.main {
    grid-area: main;
    background-color: whitesmoke;

}

.footer {
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.104);
}

/* header */
.navi {
    display: flex;
    justify-content: space-between;
    /* Aplica separación a los elementos dentro del ul */
    margin: 0 auto;
    height: 90px;
}

.icon {
    height: 70px;
    padding: 20%;
    line-height: 90px;
    margin: 10px auto;
}

.nav-links {
    text-decoration: none;
}

.nav-menu {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    list-style: none;
    padding: 0;
}

.nav-item {
    margin: 0 10px;
    line-height: 65px;
    width: max-content;
    padding: 15px 0;
}

.link-login {
    color: #fbf9f9;
    padding-top: 25px;
    height: 50px;
    margin-right: 12px;
}

.list-group {
    --bs-list-group-bg: transparent;
}

.fa-linkedin.text-white:hover {
    --bs-text-opacity: 1;
    color: rgb(19, 90, 241) !important;
}

.fa-github.text-white:hover {
    --bs-text-opacity: 1;
    color: rgb(18, 236, 174) !important;
}

.fa-instagram.text {
    background: linear-gradient(rgb(243, 117, 15), rgb(243, 18, 209));
    -webkit-background-clip: text;
    color: transparent;
}

div.container {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
}

.back {
    width: 100%;
    height: auto;

}

.carousel-item {
    filter: brightness(0.55);
}

.contenedor {
    position: relative;
    display: block;
    text-align: center;
}

.presentacion {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 1%;
    right: 1%;
    bottom: 35%;
    background: transparent;
}

.presentacion-nom {
    display: inline;
    text-align: center;
    font-family: neutron;
    font-size: 6vw;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px rgb(249, 249, 249);
    background: url(../img/back5.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 40s linear infinite alternate;
    text-shadow: rgba(237, 182, 78, 0.342) 5px 5px 6px;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

/* .escritura{
    position: absolute;
    right: 0;
    width: 0;
    background-color: transparent;
    border-left: 1px solid #000;
    animation: maquina 5s infinite alternate steps(15);
}  
@keyframes maquina {
    from{width: 100%;}
    to{width: 0;}
} */
.clase {
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: neuton;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    background: url(../img/back0.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    font-weight: bold;
    font-size: 2.5vw;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.referencia {
    font-family: neuton;
    background-color: transparent;
}

.perfil {
    height: 20vw;
    border-radius: 100%;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    top: 5px;
}

#sobre_mi {
    padding-top: 5%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.col-md-6 {
    width: 30%;
}

.piePagina {
    background-color: #000;
    color: white;
    text-align: center;
}

.experiencia {
    padding-top: 20px;
}

.experiencia-item {
    font-size: 1.2em;
}

.subtitulo {
    position: relative;
    padding-top: 3%;
    font-family: neuton;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    background: url(../img/back1.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 30s linear infinite;
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.educacion {
    padding-top: 20px;
}

.educacion-list {
    display: flex;
    justify-content: center;
}

.educacion-1 {
    display: inline-flex;
}

.educacion-1 li {
    margin: 10px 40px;
    text-decoration: none;
    display: flex;
}

.edu-logo {
    border-radius: 5px;
    box-shadow: 5px 5px 5px 10px rgba(62, 184, 245, 0.119), 5px 5px 5px 10px rgba(215, 208, 208, 0.847);

}

.edu-logo img:hover {
    transform: scale(1.25);
}

.modal-header {
    background-image: url(../img/fondomodal.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
}

.modal-title {
    color: rgb(5, 5, 67);
}

.modal-body {
    text-align: center;
    background-color: rgba(12, 210, 255, 0.123);
}

.modal-body img {
    padding-bottom: 2rem;
}

.habilidad {
    padding-top: 10px;
    padding-bottom: 5px;
}

.habilidad-2 {
    padding-bottom: 3rem;
    text-align: center;
    color: rgb(16, 15, 15);
    font-family: Neutron;
    font-size: 30px;
}

.progress {
    margin-bottom: 20px;
    --bs-progress-height: 2rem;
    --bs-progress-font-size: 1rem;
    color: rgb(7, 11, 124);
}

.progress-bar {
    text-align: start;
}

.bar-1 {
    padding-left: 10px;
    background-color: rgb(246, 107, 14);
}

.bar-2 {
    padding-left: 10px;
    background-color: rgb(19, 142, 243);
}

.bar-3 {
    padding-left: 10px;
    background-color: rgb(246, 178, 8);
}

.bar-4 {
    padding-left: 10px;
    background-color: rgb(14, 92, 26);
}

.bar-5 {
    padding-left: 10px;
    background-color: rgb(186, 8, 8);
}

.bar-6 {
    padding-left: 10px;
    background-color: rgb(40, 73, 127);
}

.bar-7 {
    padding-left: 10px;
    background-color: rgb(43, 94, 126);
}

.bar-8 {
    padding-left: 10px;
    background-color: rgb(91, 231, 44);
}

#proyectos {
    padding-top: 20px;
}

.proyecto-sec {
    display: flex;
    justify-content: center;
}

.proyecto-item img {
    margin: 20px 20px;
    border-radius: 10px;

}